@import '@/app/mixins';
.form {
  display: flex;
  flex-direction: column;
  max-width: max-content;
  margin-top: 5%;
  @include for-mobile {
    margin-top: 10%;
  }
}
.button {
  min-width: 100%;
}

.socials{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1rem;
}
