.wrapper{
  width: 100%;
  display: flex;
  align-items: center;
  //justify-content: space-between;
  gap: 1rem;
  margin: 1.5rem 0;
}

.counter{
  width: 20%;
  height: 10rem;
  display: flex;
  flex-direction: column;
  padding: 1.2rem;
  border: 2px solid var(--neutral-text);
  border-radius: 0.625rem;
  background: var(--neutral-card);
}

.text{
  color: var(--neutral-text);
  font-size: 1rem;
}

.length{
  color: var(--primary-default);
  font-size: 4rem;
}
