@import '@/app/mixins';

.wrapper{
  width: 50%;
  display: flex;
  align-items: center;
  //justify-content: space-between;
  gap: 1rem;
  margin: 1.5rem 0;

  @include for-mobile{
    width: 100%;
  }
}

.counter{
  width: 49%;
  height: 10rem;
  display: flex;
  flex-direction: column;
  padding: 1.2rem;
  border: 2px solid var(--neutral-text);
  border-radius: 0.625rem;
  background: var(--neutral-card);
}

.text{
  color: var(--neutral-text);
  font-size: 1rem;
}

.length{
  color: var(--primary-default);
  font-size: 4rem;
}
