@import "app/mixins";
.wrapper{
  width: 100%;
  height: 100%;
  background: #0000004d;
  position: fixed;
  overflow: hidden;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--play);
  @include for-mobile{
    align-items: flex-end;
    justify-content: flex-end;
  }
}

.modal{
  width: 50%;
  min-height: 40%;
  max-height: 60%;
  background: var(--bg-color);
  border-radius: 0.625rem;
  box-shadow: 0 0 30px 0 rgba(0,0,0,0.75);
  position: relative;
  animation: modalAnimation 0.2s linear;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  transition: all 50ms linear;

  @include for-mobile{
    width: 100%;
    animation: mobileModalAnimation 0.2s linear;
  }
}


.childrenWrapper{
  padding: 0 1.5rem 1.5rem;
  @include for-mobile{
    overflow: auto;
    padding-top: 0;
  }
}

.title{
  padding: 1.5rem 1.5rem 0.2rem;
  font-size: 2rem;
  font-weight: 600;
  color: var(--neutral-text);
  background: var(--bg-color);
  position: sticky;
  top: 0;
  width: 100%;
  border-bottom: 2px solid var(--primary-default);
  @include for-mobile{
    margin-left: 0;
    padding-left: 1.5rem;
    padding-bottom: 1rem;
    display: block;
    font-size: 1.5rem;
    text-align: center;
  }
}

.closeIcon{
  position: absolute;
  z-index: 1;
  border: 1px solid var(--primary-default);
  border-radius: 0.625rem;
  top: 0.5rem;
  right: 0.5rem;
  padding: 0.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: var(--neutral-text);
  transition: background-color 0.2s;
  @include for-mobile{
    display: none;
  }
  >svg{
    width: 1.5rem;
    height: 1.5rem;
  }
  &:hover{
    background: var(--primary-default);
  }
}

.mobileCloseLine{
  @include for-desktop{
    display: none;
  }
  position: absolute;
  background: var(--neutral-text);
  top: 5px;
  width: 50%;
  height: 4px;
  border-radius: 1rem;
  z-index: 2;
  margin: 0 auto;
  left: 50%;
  transform: translatex(-50%);
}

.closeAnimation{
  animation: closeModalAnimation 0.2s linear;
  @include for-mobile{
    animation: closeMobileModalAnimation 0.2s linear;
  }
}
//Анимации закрытия

@keyframes closeModalAnimation {
  0% {
    opacity: 1;
    transform: scale(100%);
  }
  100% {
    opacity: 0;
    transform: scale(0%);
  }
}

@keyframes closeMobileModalAnimation {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(100%);
  }
}
//Анимации открытия
@keyframes modalAnimation {
  0% {
    opacity: 0;
    transform: scale(0%);
  }
  100% {
    opacity: 1;
    transform: scale(100%);
  }
}

@keyframes mobileModalAnimation {
  0% {
    transform: translateY(100%);
  }
  100% {
      transform: translateY(0);
  }
}

.hideScroll{
  @include for-mobile{
    overflow: hidden;
  }
}
