@import "app/mixins";
.wrapper{
  width: 100vw;
  height: 100vh;
  background: #0000004d;
  position: fixed;
  overflow: hidden;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--play);
  @include for-mobile{
    align-items: flex-end;
    justify-content: flex-end;
  }
}

.modal{
  width: 50%;
  min-height: 40%;
  background: var(--neutral-card);
  border-radius: 0.625rem;
  padding: 1.5rem;
  box-shadow: 0 0 60px 0 rgba(0,0,0,0.4);
  position: relative;

  @include for-mobile{
    padding: 1rem;
    width: 100%;
  }
}

.title{
  font-size: 2rem;
  font-weight: 600;
  color: var(--neutral-text);
  padding-bottom: 0.2rem;
  border-bottom: 2px solid var(--primary-default);
  @include for-mobile{
    display: block;
    font-size: 1.5rem;
    text-align: center;
    width: 100%;
  }
}

.closeIcon{
  position: absolute;
  border: 1px solid var(--primary-default);
  border-radius: 0.625rem;
  top: 0.5rem;
  right: 0.5rem;
  padding: 0.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: white;
  transition: background-color 0.2s;
  @include for-mobile{
    display: none;
  }
  >svg{
    width: 1.5rem;
    height: 1.5rem;
  }
  &:hover{
    background: var(--primary-default);
  }
}
