.wrapper {
  display: flex;
}

.profile {
  display: flex;
  flex-direction: column;
  padding-left: 1rem;
  flex: 1;
}

.profileInfo {
  display: flex;
  flex-direction: column;
  padding-left: 1.5rem;
}

.form {
  margin-top: 1.5rem;
}

.span {
  &:not(:first-child) {
    margin-top: 0.5rem;
  }
  display: flex;
  color: var(--neutral-text);
  font-weight: 600;
}

.value {
  color: var(--primary-default);
}

.status {
  padding-left: 1.5rem;
  color: var(--primary-default);
  display: flex;
  align-items: center;
  position: relative;
  &:before {
    background: var(--primary-default);
    position: absolute;
    left: 0.7rem;
    content: '';
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
  }
}

.actions{
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
}

.button{
  font-size: 1rem;
  padding: 0.5rem
}
