
.profile {
  display: flex;
  width: 100%;
  margin-top: 3rem;
}

.profileInfo{
  display: flex;
  flex-direction: column;
  padding-left: 1.5rem;
}

.fullName {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--neutral-text);
}
.avatar{
  margin: 0;
}
.email {
  color: var(--neutral-grey);
}

.actions {
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
  width: 100%;
  align-items: center;
}

.profileActions{
  display: flex;
  flex-direction: column;
  margin-top: auto;
}

.switcher{
  padding: 0.5rem 0;
  color: var(--neutral-input);
  font-weight: 600;
  font-size: 1.2rem;
  cursor: pointer;
  display: flex;
  > svg {
    color: var(--primary-default);
    height: 1.5rem;
    padding-left: 0.5rem;
  }
}

.logout {
  height: 2.5rem;
}
