@import '@/app/mixins';

.wrapper {
  display: flex;
  width: 100%;
  flex-direction: column;

}

.profileWrapper{
  display: flex;
  @include for-mobile {
    position: relative;
    flex-direction: column;
    align-items: center;
    padding-top: 8rem;
  }
}

.profile {
  display: flex;
  flex-direction: column;
  padding-left: 1rem;
  flex: 1;
  @include for-mobile {
    width: 100%;
    padding: 0;
  }
}

.profileInfo {
  display: flex;
  flex-direction: column;
  padding-left: 1.5rem;
}

.form {
  margin-top: 1.5rem;
}

.span {
  &:not(:first-child) {
    margin-top: 0.5rem;
  }
  display: flex;
  color: var(--neutral-text);
  font-weight: 600;
  @include for-mobile {
    justify-content: space-between;
  }
}

.value {
  color: var(--neutral-text);
  font-weight: 700;
}

.status {
  padding-left: 1.5rem;
  color: var(--neutral-text);
  display: flex;
  align-items: center;
  position: relative;
  &:before {
    background: var(--neutral-text);
    position: absolute;
    left: 0.7rem;
    content: '';
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
  }
}

.actions {
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
  @include for-mobile {
    gap: unset;
    justify-content: space-between;
  }
  .button {
    font-size: 1rem;
    padding: 0.5rem;
  }
}

.statusInfo {
  @include for-mobile {
    position: absolute;
    top: 0;
    left: 0;
  }
}

.pageTitle {
  color: var(--neutral-text);
  font-size: 2rem;
  margin-bottom: 1rem;
  @include for-mobile {
    font-size: 1.5rem;
  }
  &:not(:first-child) {
    margin-top: 2rem;
  }
}

.historyItem{
  background: var(--bg-color);
  color: var(--neutral-text);
  width: max-content;
  padding: 0.5rem 1rem;
  border-radius: 0.625rem;
  font-weight: 600;
  outline: 1px solid var(--neutral-grey);
  cursor: default;
  @include for-mobile{
    width: 100%;
    outline: none;
    border-radius: 0;
  }
}


.history{
  display: flex;
  align-items: center;
  gap: 0.5rem;
  flex-wrap: wrap;
  @include for-mobile{
    outline: 2px solid var(--neutral-grey);
    border-radius: 0.625rem;
    max-height: 7rem;
    overflow: scroll;
    gap: 0.2rem;
  }
}
