:root {
  --bg-color: #545974;
  --primary-default: #ff6464;
  --neutral-text: #fff;
  --neutral-grey: #bababa;
  --neutral-input: #f1f1f1;
  --neutral-card: #767a90;
  --primary-default-gradient: linear-gradient(90deg, rgba(255,100,100,1) 0%, rgba(255,100,100,0.5270483193277311) 85%, rgba(255,255,255,0) 100%);

  --navmenu-bg: #767a90;
  --navmenu-shadow: #545974;

  --green-status: #00fd00;
  --red-status: #f60101;
  --wrapper-shadow: 5px 5px 5px #434556, -5px -5px 5px #50546c;
}
