.app_light_theme {
  --bg-color: #fff;
  --primary-default: #ff6464;
  --neutral-text: #545974;
  --neutral-grey: #bababa;
  --neutral-input: #545974;
  --neutral-card: #e6e6e6;
  --primary-default-gradient: linear-gradient(90deg, rgba(255,100,100,1) 0%, rgba(255,100,100,0.5270483193277311) 85%, rgba(255,255,255,0) 100%);

  --navmenu-bg: #f1f1f1;
  --navmenu-shadow: #fff;

  --green-status: #008600;
  --red-status: #930000;
}
