.app_light_theme {
  --bg-color: #fff;
  --primary-default: #ff6464;
  --neutral-text: #545974;
  --neutral-grey: #bababa;
  --neutral-input: #545974;
  --neutral-card: #fff;

  --navmenu-bg: #767a90;
  --navmenu-shadow: #fff;

  --green-status: #008600;
  --red-status: #930000;
}
