.button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 0.625rem;
  cursor: pointer;
  width: 7rem;
  height: 2.125rem;
  overflow: hidden;
  background: var(--bg-color);
  position: relative;
  &:before {
    position: absolute;
    left: 0;
    content: '';
    top: 0;
    width: 50%;
    height: 100%;
    background: var(--primary-default);
    transition: transform 0.2s linear;
  }

  &.darkActive {
    &:before {
      transform: translateX(100%);
    }
  }
}

.icon {
  width: 50%;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--neutral-text);

  svg {
    z-index: 1;
    transition: transform 0.25s linear;
  }
  &:hover{
    svg {
      transform: rotate(90deg);
    }
  }
}

.active {
  color: white;
}
