@import '@/app/mixins';

.wrapper {
  display: flex;
  flex-direction: column;
  border-radius: 0.625rem;
  justify-content: space-between;
  background: var(--neutral-card);
  overflow: hidden;
  //transition: all 0.3s linear;
  margin-bottom: 1rem;
}

.titleWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  padding: 1.2rem;
}

.title {
  font-size: 1.8rem;
  color: var(--neutral-input);
  display: flex;
  align-items: center;
  flex: 1;
  justify-content: space-between;
  @include for-mobile {
    font-size: 1.6rem;
    flex-direction: column;
    align-items: flex-start;
  }
}

.additionalInfo {
  margin-left: 1rem;
  font-size: 1.3rem;
  @include for-mobile {
    font-size: 1.2rem;
    margin-left: 0;
  }
}

.icon {
  color: var(--neutral-input);
  margin-left: 1rem;
  padding-top: 0.2rem;
  > svg {
    transform: scale(1.4);
  }
}

.renderContent {
  padding: 0 1.2rem 0 1.2rem;
  max-height: 0;
  transition: max-height 0.2s linear;
}

.visible {
  max-height: 20rem;
}
