@import '@/app/mixins';

.header {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.checker {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 1rem;
  color: var(--neutral-input);
  font-size: 1.5rem;
}

.title {
  display: flex;
  align-items: baseline;
  flex-direction: column;
  gap: 0.5rem;
}

.minifiedTitle {
  font-size: 3rem;
}

.actions {
  display: flex;
  gap: 0.5rem;
  @include for-mobile {
    margin-top: 2rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-bottom: 1.2rem;
  }
}

.desktop {
  @include for-mobile {
    display: none;
  }
}

.mobile {
  @include for-desktop {
    display: none;
  }
}

.hidden {
  visibility: hidden;
}
.form {
  margin-top: 1.7rem;
  width: 50%;
  @include for-mobile {
    width: 100%;
  }
}

.input {
  div {
    transition: all 0.3s;
  }
  input {
    cursor: inherit;
  }
}

.editMode {
  div {
    border-color: var(--neutral-grey);
    pointer-events: auto;
    transition: all 0.3s;
    cursor: default;
  }
}

.wrapper {
  background: var(--neutral-card);
  padding: 1.2rem;
  border-radius: 0.625rem;
  margin-bottom: 1.2rem;
}
