@import '@/app/mixins';
.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-bottom: 18px;
}

.label {
  position: absolute;
  top: 0;
  left: 0.6rem;
  color: var(--neutral-text);
  font-size: 0.8rem;
  user-select: none;
}

.inputWrapper {
  margin-top: 20px;
  border: 2px solid var(--neutral-input);
  border-radius: 0.625rem;
  min-height: 2.5rem;
  min-width: 18rem;
  background: var(--neutral-card);
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  transition: border-color 100ms linear;

  &:focus-within{
    border-color: var(--primary-default);
  }
}

.input {
  padding: 0.6rem 0 0.6rem 0.6rem;
  outline: none;
  color: var(--neutral-text);
  border: none;
  flex: 1;
  background: var(--neutral-card);
  &::placeholder {
    color: var(--neutral-grey);
    font-family: var(--play);
  }
  @include for-mobile {
    font-size: 16px;
  }
}

.blocked{
  //filter: grayscale(1);
  border: 2px solid var(--neutral-grey);
  & > .input{
    color: var(--neutral-grey);
  }
}

.error {
  left: 0.6rem;
  font-size: 0.8rem;
  font-family: var(--play);
  color: var(--primary-default);
  position: absolute;
  bottom: 0;
}

.passwordActions {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding-right: 1rem;
}

.icon {
  color: var(--primary-default);
  width: 1.3rem;
  cursor: pointer;
}
