.inputWrapper{
  position: relative;
  display: flex;
  flex-direction: column;
  padding-bottom: 18px;

}

.label{
  position: absolute;
  top: 5px;
  left: 0.6rem;
  color: var(--neutral-text);
  font-size: 0.8rem;
  user-select: none;
}

.input{
  margin-top: 20px;
  border: 2px solid var(--neutral-input);
  outline: none;
  color: var(--neutral-text);
  padding: 0.6rem;
  border-radius: 0.625rem;
  min-height: 2.5rem;
  min-width: 21rem;
  background: var(--neutral-card);
  &::placeholder{
    color: var(--neutral-grey);
    font-family: var(--poppins);
  }
}

.error{
  left: 0.6rem;
  font-size: 0.8rem;
  font-family: var(--poppins);
  color: var(--primary-default);
  position: absolute;
  bottom: 0;
}
