.avatar {
  width: 10rem;
  height: 10rem;
  border: 2px solid var(--primary-default);
  border-radius: 0.675rem;
  object-fit: cover;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hideAvatar {
  display: none;
}
