@import '@/app/mixins';

.wrapper{
  width: 50%;
  display: flex;
  align-items: center;
  gap: 1rem;
  margin: 1.5rem 0;

  @include for-mobile{
    width: 100%;
  }
}

.counter{
  width: 49%;
  height: 10rem;
  display: flex;
  padding: 1.2rem;
  border: 2px solid var(--neutral-text);
  flex-direction: column;
  border-radius: 0.625rem;
  background: var(--neutral-card);
}


.text{
  color: var(--neutral-text);
  font-size: 1rem;
}

.length{
  color: var(--primary-default);
  font-size: 3.5rem;
  line-height: 1;
  font-weight: 700;
}

.avatar{
  border: 2px solid var(--primary-default);
  border-radius: 0.625rem;
  max-width: 6rem;
  object-fit: cover;
  @include for-mobile{
    height: 4rem;
    width: fit-content;
  }
}



.profile{
  width: 49%;
  height: 10rem;
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
  flex-direction: row;
  padding: 1.2rem;
  border: 2px solid var(--neutral-text);
  border-radius: 0.625rem;
  background: var(--neutral-card);

  @include for-mobile{
    flex-direction: column;
  }
}

.email{
  color: var(--neutral-grey);
  font-size: 0.85rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
}

.name{
  color: var(--neutral-text);
}

.userInfo{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 62%;

  @include for-mobile{
    padding-left: 0;
    padding-top: 1rem;
  }

}

.logout{
  margin-top: auto;
  width: 100%;
}
