@import '@/app/mixins';

.form {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.actions {
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
  .button {
    font-size: 1rem;
    padding: 0.5rem;
  }
  @include for-mobile {
    gap: unset;
    justify-content: space-between;
    margin-bottom: 1.5rem;
    margin-left: auto;
  }
}

.input {
  width: 100%;
}

.pageTitle {
  color: var(--neutral-text);
  font-size: 2rem;
  margin-bottom: 1rem;
  @include for-mobile {
    font-size: 1.5rem;
  }
}

.deleteForm {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
