.logo {
  user-select: none;
  pointer-events: none;
  padding-top: 2.8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--primary-default);
  font-size: 2.5rem;
  margin-bottom: 5px;
  max-width: max-content;

  .stars {
    letter-spacing: 2px;
    height: 40px;
    display: flex;
    font-weight: 700;
    justify-content: center;
  }
  .line {
    height: 5px;
    width: 85%;
    border-radius: 6px;
    background: var(--primary-default);
  }
}

.main {
  background: var(--bg-color);
  margin-top: 11%;
}

.navigation {
  margin-top: 20px;
  display: flex;
  gap: 10px;
}
