.profile{
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 3rem;
  align-items: center;
}

.fullName{
  margin-top: 1rem;
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--neutral-text);
}

.email {
  color: var(--neutral-grey);
}

.actions {
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
  width: 100%;
  align-items: center;
}

.action {
  color: var(--neutral-text);
  font-weight: 700;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 0.5rem ;
  border-radius: 0.625rem;
  transition: all 0.2s;
  &:hover{
    background: var(--primary-default);
    > svg {
      color: #fff;
    }
  }

  > svg {
    color: var(--primary-default);
    height: 1.5rem;
    margin-right: 0.5rem;
  }
}

.logout{
  margin-top: 2rem;
  width: 10rem;
}
