

.action {
  color: var(--neutral-text);
  font-weight: 700;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 0.5rem;
  border-radius: 0.625rem;
  transition: all 0.2s;
  &:hover {
    background: var(--primary-default);
    > svg {
      color: #fff;
    }
  }

  > svg {
    color: var(--primary-default);
    height: 1.5rem;
    margin-right: 0.5rem;
  }
}

