.profile{
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 5rem;
  align-items: center;
}

.fullName{
  margin-top: 1rem;
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--neutral-text);
}

.email{
  color: var(--neutral-grey);
}

