.item {
  height: 100%;
  max-height: 5rem;
  display: flex;
  align-items: center;
  padding: 1rem 2rem 1rem 1rem;
  border: 2px solid var(--neutral-input);
  border-radius: 0.625rem;
  background: var(--neutral-card);
  cursor: pointer;
  transition: filter 0.5s;

  &:hover{
    filter: saturate(200%);
  }
}

.iconWrapper {
  border-radius: 0.625rem;
  background: var(--neutral-input);
  width: 3.2rem;
  height: 3.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 1.5rem;
  filter: grayscale(0.7);
}

.icon {
  width: 1.6rem;
  height: 1.6rem;
}

.socialName {
  color:var(--neutral-input);
  font-size: 1.25rem;
}

.copyIcon{
  margin-left: auto;
}
