@import '@/app/mixins';

.wrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100%;
  border-radius: 0.625rem;
  overflow: hidden;
  @include for-mobile {
    border: none;
    position: fixed;
    bottom: 1rem;
    margin: 0 auto;
    height: auto;
    width: 90%;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 0;
    border-radius: 0.625rem;
    overflow: hidden;
    box-shadow: 3px 33px 0 50px var(--navmenu-shadow);
    z-index: 3;
  }
}

.item {
  display: flex;
  width: 100%;
  height: auto;
  align-items: center;
  padding: 0.9rem;
  background: var(--neutral-card);
  transition: filter 0.5s;
  position: relative;

  @include for-mobile {
    display: flex;
    justify-content: center;
    background: var(--navmenu-bg);
    flex: 1;
    height: 3rem;
    border: 0;
    padding: 0;
  }

  @include for-desktop{
    &:not(.active):after{
      z-index: 1;
      transition: transform 0.2s linear;
      position: absolute;
      content: '';
      left: 0;
      width: 80%;
      transform: translateX(-101%);
      top: 0;
      height: 100%;
      background: var(--primary-default);
    }
    &:hover:after{
      transform: translateX(0);
    }
    &:hover{
      .icon{
        fill: #fff;
      }
      .text{
        color: #fff;
      }
    }
  }
}


.text {
  flex: 1;
  font-weight: 700;
  margin-left: 2rem;
  color: var(--neutral-text);
  position: relative;
  z-index: 2;
  transition: color 0.2s linear;
  @include for-mobile {
    display: none;
  }
}

.icon {
  fill: var(--neutral-text);
  height: 1.5rem;
  position: relative;
  z-index: 2;
  transition: fill 0.2s linear;
  @include for-mobile {
    fill: var(--neutral-text);
  }
}

.active {
  background: var(--primary-default);
  .text {
    color: #fff;
  }
  .icon {
    fill: #fff;
    z-index: 1;
  }
}
