@import '@/app/mixins';
.title {
  margin-top: 5%;
  color: var(--neutral-text);
  font-size: 6rem;
  @include for-mobile {
    font-size: 3.5rem;
  }
  font-weight: 700;
  line-height: normal;
}

.subtitle {
  font-family: var(--play);
  font-size: 1.5rem;
  color: var(--neutral-grey);
  font-weight: 400;
  @include for-mobile {
    text-align: center;
    font-size: 1.5rem;
  }
}

.section {
  display: flex;
  justify-content: center;
  width: 100%;
}
.form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
