.title{
  margin-top: 5%;
  color: var(--neutral-text);
  font-size: 6rem;
  font-weight: 700;
  line-height: normal;
}

.subtitle{
  font-family: var(--play);
  font-size: 1.5rem;
  color: var(--neutral-grey);
  font-weight: 400;
}

.section{
  display: flex;
  justify-content: center;
  width: 100%;
}
.form{
  padding-left: 10%;
  padding-top: 10%;
}
