.title{
  margin-top: 5%;
  color: var(--neutral-text);
  font-size: 6rem;
  font-weight: 400;
  line-height: normal;
}

.subtitle{
  font-family: var(--poppins);
  font-size: 1.5rem;
  color: var(--neutral-grey);
  font-weight: 400;
}
