@import '@/app/mixins';

.snackbar {
  display: none;
  position: fixed;
  bottom: 2rem;
  left: 2rem;
  background: var(--primary-default);
  color: #fff;
  padding: 1rem;
  width: 20rem;
  border-radius: 0.625rem;
  font-weight: 700;
  font-family: var(--play);
  cursor: pointer;

  &:after {
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    width: 100%;
    height: 0.3rem;
    border-bottom-left-radius: 0.625rem;
    border-bottom-right-radius: 0.625rem;
    background: #fff;
    animation: progressAnimation var(--snackbar-delay) forwards linear;
  }
  @include for-mobile {
    z-index: 3;
    width: 100%;
    left: 0;
    bottom: 0;
    border-radius: 0.625rem 0.625rem 0 0;
  }
}

.snackBarvisible {
  display: flex;
  animation: snackBarAnimation var(--snackbar-delay) forwards;

  @include for-mobile {
    animation: snackBarAnimationMobile var(--snackbar-delay) forwards;
  }
}

@keyframes snackBarAnimation {
  0% {
    left: -10rem;
  }
  10% {
    left: 2rem;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes snackBarAnimationMobile {
  0% {
    opacity: 1;
    bottom: -10rem;
  }
  20% {
    bottom: 0;
  }
  70% {
    bottom: 0;
  }
  100% {
    bottom: -10rem;
  }
}

@keyframes progressAnimation {
  0% {
    width: 100%;
  }
  100% {
    width: 0;
  }
}
