@import '@/app/mixins';

.snackbarWrapper{
  position: fixed;
  bottom: 2rem;
  left: 2rem;
  height: auto;
  display: flex;
  gap: 1rem;
  flex-direction: column-reverse;
  justify-content: center;
  z-index: 5;
  @include for-mobile{
    bottom: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: max-content;
    flex-direction: column;
  }
}

.snackbar {
  position: relative;
  display: flex;
  background: var(--neutral-card);
  color: var(--neutral-text);
  padding: 1rem 2.5rem 1rem 1rem;
  min-width: 20rem;
  width: max-content;
  border-radius: 0.625rem;
  font-weight: 700;
  font-family: var(--play);
  cursor: pointer;
  overflow: hidden;
  animation: snackBarAnimation var(--snackbar-delay) forwards linear;

  >svg{
    width: 1.2rem;
    height: 1.2rem;
    position: absolute;
    right: 0.5rem;
    top: 0.5rem;
  }
  &:hover{
    @include for-desktop{
      animation-play-state: paused;
      &:after{
        animation-play-state: paused;
      }
    }
  }
  &:after {
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    width: 100%;
    height: 0.3rem;
    background: var(--primary-default);
    animation: progressAnimation var(--snackbar-delay) forwards linear;
  }
  @include for-mobile {
    border-radius: 0;
    animation: snackBarAnimation var(--snackbar-delay) forwards linear;
    z-index: 5;
    width: 100%;
    left: 0;
    bottom: 0;
    &:not(:last-child){
      display: none;
    }
  }

  &.withoutAnimation{
    animation: none;
    &:after{
      display: none;
      animation: none;
    }
    @include for-mobile{
      animation: none;
    }
  }
}


@keyframes snackBarAnimation {
  0% {
    left: -100%;
  }
  10% {
    left: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes progressAnimation {
  0% {
    width: 100%;
  }
  100% {
    width: 0;
  }
}
