.button {
  font-size: 1.5rem;
  font-family: var(--play);
  padding: 5px 20px;
  border-radius: 0.625rem;
  min-width: 150px;
  max-width: max-content;
  cursor: pointer;
  transition: filter 0.3s;
  font-weight: 700;
  &:disabled {
    filter: grayscale(1);
  }
}

.outline {
  background: transparent;
  color: var(--primary-default);
  border: 2px solid var(--primary-default);
}

.default {
  background: var(--primary-default);
  color: white;
  border: 2px solid var(--primary-default);
}

.loading {
  filter: grayscale(1);
}
