.input {
  outline: none;
  border: 0;
  background: transparent;
  flex: 1;
  color: var(--neutral-input);
  font-size: 1rem;
  padding: 0.5rem 1.25rem;

  &::placeholder {
    color: var(--neutral-grey);
    font-size: 1rem;
    font-family: var(--play);
  }
}

.searchIcon {
  padding-left: 1rem;
  width: max-content;
}

.form {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3rem;
  background: var(--neutral-card);
  border-radius: 0.625rem;
  outline: 2px solid transparent;
  transition: outline 0.15s;

  &:active,
  &:focus-within {
    outline: 2px solid var(--primary-default);
    font-family: var(--play);
    color: #fff;
    font-size: 1rem;
  }

}
.clearIcon{
  height: 1.3rem;
  padding-right: 1rem;
  > svg{
    width: 1.3rem;
    height: 1.3rem;
    color: #BABABA;
  }
}

.hideClearIcon{
  display: none;
}
