.form {
  display: flex;
  flex-direction: column;
  max-width: max-content;
  margin-top: 5%;
  width: 100%;
}
.button {
  min-width: 100%;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
