@import '@/app/mixins';
.title {
  font-size: 4rem;
  user-select: none;
  pointer-events: none;
  @include for-mobile {
    font-size: 3rem;
    overflow-wrap: break-word;
  }
  .neutralText {
    color: var(--neutral-text);
    font-weight: 700;
  }
  .primaryText {
    color: var(--primary-default);
    font-weight: 700;

  }
}

.buttons {
  display: flex;
  gap: 25px;
  align-items: center;
    margin-top: 3rem;
  .button {
    color: var(--neutral-grey);
    cursor: pointer;
    font-size: 1.5rem;

    &__active {
      color: var(--primary-default);
      font-size: 2rem;
    }
  }
}

.description {
  color: var(--neutral-grey);
  font-size: 1.5rem;
  font-family: var(--play);
  margin-top: 2rem;
  @include for-mobile {
    margin-top: 1rem;
  }
  font-weight: 400;
}
