@import '@/app/mixins';

.wrapper {
  display: flex;
  gap: 1rem;
  @include for-mobile {
    flex-direction: column;
    margin-bottom: 5rem;
  }
}
.menu {
  display: flex;
  flex-direction: column;
  width: 26.5%;
  border-radius: 0.625rem;
  overflow: hidden;
  height: max-content;
  max-height: 23.5rem;
  transition: max-height 0.2s linear;
  background: var(--neutral-card);
  @include for-mobile {
    width: 100%;
  }
}

.text{
  position: relative;
  z-index: 2;
}

.link {
  padding: 1.2rem;
  color: var(--neutral-text);
  font-weight: 700;
  position: relative;
  @include for-mobile {
    padding: 1rem;
  }
  transition: color 0.2s linear;
  &:hover{
    color: #fff;
  }
  &:not(.active):after{
    z-index: 1;
    transition: transform 0.2s linear;
    position: absolute;
    content: '';
    left: 0;
    width: 100%;
    transform: translateX(-101%);
    top: 0;
    height: 100%;
    background: var(--primary-default-gradient);
    //opacity: 0.75;
  }
  &:hover:after{
    transform: translateX(0);
  }
}

.active {
  background: var(--primary-default);
  color: #fff;
}

.component {
  flex: 1;
  border-radius: 0.625rem;
  padding: 1.2rem;
  margin-bottom: 2rem;
  min-height: 5rem;
  background: var(--neutral-card);
  display: flex;
  align-items: center;
  @include for-mobile {
    padding: 1rem;
  }
}

.mobileMenu {
  @include for-desktop {
    display: none;
  }
  padding: 1.2rem;
  color: var(--neutral-text);
  font-weight: 700;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include for-mobile {
    padding: 1rem;
  }
}

.hideMenu {
  @include for-mobile {
    max-height: 3.5rem;
  }
}
