@import '@/app/mixins';

.wrapper {
  display: flex;
  gap: 1rem;
  @include for-mobile {
    flex-direction: column;
    margin-bottom: 5rem;
  }
}
.menu {
  display: flex;
  flex-direction: column;
  width: 26.5%;
  border-radius: 0.625rem;
  overflow: hidden;
  height: max-content;
  max-height: 23.5rem;
  transition: max-height 0.2s linear;
  background: var(--neutral-card);
  @include for-mobile {
    width: 100%;
  }
}

.link {
  padding: 1.2rem;
  color: var(--neutral-text);
  font-weight: 700;
  @include for-mobile {
    padding: 1rem;
  }
}

.active {
  background: var(--primary-default);
  color: #fff;
}

.component {
  flex: 1;
  border-radius: 0.625rem;
  padding: 1.2rem;
  margin-bottom: 2rem;
  background: var(--neutral-card);
  @include for-mobile {
    padding: 1rem;
  }
}

.mobileMenu {
  @include for-desktop {
    display: none;
  }
  padding: 1.2rem;
  color: var(--neutral-text);
  font-weight: 700;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include for-mobile {
    padding: 1rem;
  }
}

.hideMenu {
  @include for-mobile {
    max-height: 3.5rem;
  }
}
